body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 1.5rem;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 70%;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }
    h2 {
        margin-bottom: 0.25rem;
        margin-top: 0.5rem;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.result {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #C8A1E0;
    margin-inline: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;

    h3 {
        margin-top: 1rem;
    }

    h4 {
        font-weight: 400;
    }
}

.result-item {
    padding-left: 2rem;
    margin-top: 0.25rem;
}

.search {
    width: 100%;
    background: #E2BFD9;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;

    label {
        margin-bottom: 0.25rem;
    }
    input {
        font-size: 1.5rem;
        width: 95%;
        padding: 0.5rem;
    }
    select {
        font-size: 1.5rem;
        font-family: "Noto Sans Thai", sans-serif;
        padding-inline: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.form-item {
    padding-inline: 2rem;
    padding-bottom: 0.25rem;
    flex-direction: column;
    width: 100%;
}

.form-item-2 {
    padding-inline: 1rem;
}

.bt-container {
    display: flex;
    flex-direction: column;
    justify-content: cneter;
    margin-bottom: 0.5rem;

    #fetchButton {
        background: #674188;
    }
}

.row {
    display: flex;
    padding-bottom: 0.5rem;
}

#fetchButton {
    padding: 1rem;
    color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
}

#fetchButton:hover {
    background: #C8A1E0;
}

@media only screen and (min-width: 768px) {
    .header {
        margin-top: 1rem;

        img {
            width: 50%
        }
    }

    .main {
        display: flex;
        flex-direction: row;
        width: 80%;
    }

    .result {
        margin-left: 0;
        margin-bottom: 1rem;
        width: 50%;
    }

    .search {
        width: 70%;
        padding-inline: 0.5rem;
    }
}

